.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.cd-roll-chat {
  background: none;
  background-color: red;
}

.cd-roll-dialog {

  .window-content {
    background-color: black;
    background-image: url(../assets/ui/actor/actor-sheet-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    color: white;

    label {
      display: flex;
      align-items: center;
    }

    button {
      color: white;
      background-color: #423543;
      border: none;
  
      i {
        color: #ddcddf;
      }
  
      &:hover, &:focus {
        box-shadow: 0 0 5px #99d097;
        text-shadow: 0 0 10px #99d097;
      }
    }
  }
}
