<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="cd-sheet-header">
    <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <input class="header-fields" name="system.occupation" type="text" value="{{system.occupation}}" placeholder="Occupation"/>
    <div class="insight">
    <b style="color: #2ba624">{{localize "CTHULHUDARK.Insight"}}</b>
    {{#multiboxes system.insight.value}}
      {{#times_from_1 system.insight.max}}
        <input type="radio" id="character-{{../_id}}-insight-{{this}}" name="system.insight.value" value="{{this}}">
        <label for="character-{{../_id}}-insight-{{this}}"></label>
      {{/times_from_1}}
    {{/multiboxes}}
    </div>  

    <div class="grid grid-2col">
      <button class="rollable" data-roll-type="investigate">
        <i class="fa-solid fa-dice"></i> Investigate
      </button>
      <button class="rollable" data-roll-type="doSomethingElse">
        <i class="fa-solid fa-dice"></i> Other Actions
      </button>
      {{!-- <button class="rollable" data-roll-type="compete">
        <i class="fa-solid fa-dice"></i> Compete Roll
      </button>
      <button class="rollable" data-roll-type="cooperate">
        <i class="fa-solid fa-dice"></i> Cooperate Roll
      </button> --}}
      <button class="rollable" data-roll-type="insight">
        <i class="fa-solid fa-dice"></i> <b style="color: #2ba624">Insight</b> Roll
      </button>
      <button class="rollable" data-roll-type="failure">
        <i class="fa-solid fa-dice"></i> Failure Roll
      </button>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="rules">Rules</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Rules Tab --}}
    <div class="tab rules" data-group="primary" data-tab="rules">
      <p><b>Failure Roll: </b>Cannot be used on <i>Investigation Rolls</i> or if success is needed for the scenario.</p>
      <p><b>Trying Again: </b>If you include or included your Insight Die, You can reroll. Each reroll, may increase <i>Insight</i>. Reroll as much as you want.</p>
      <p><b>Cooperate: </b>Everyone rolls. Keep the highest die rolled by anyone.</p>
      <p><b>Compete: </b>Everyone who is competing rolls their dice. The highest die wins.</p>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>