<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="flexcol">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    <input name="occupation" type="text" value="" placeholder="Occupation"/>
    <p>Insight</p>
    <div class="flexrow flex-between">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
    </div>
    <div class="grid grid-2col">
      <button>Investigate</button>
      <button>Other Actions</button>
      <button>Insight Roll</button>
      <button>Failure</button>
    </div>
    <p>NOTES</p>
    <div>
      {{editor system.biography target="system.biography" button=true engine="prosemirror" collaborate=false}}
    </div>
    <p>TRY AGAIN</p>
    <p>You can reroll all the dice, if you include or included your Insight Die. For every reroll, check if you have to do an Insight roll. Reroll as any times as you want.</p>
    <p>COOPERATE</p>
    <p>Everyone rolls. Keep the highest die rolled by anyone.</p>
    <p>COMPETE</p>
    <p>Everyone rolls for themselves. Highest die wins.</p>
  </header>

</form>

