<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="flexcol">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    <input name="system.occupation" type="text" value="{{system.occupation}}" placeholder="Occupation"/>
    <div class="flexrow flex-between">
      <p>Insight</p>
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      {{!-- <input type=“checkbox” name=“data.whatevs” {{checked data.whatevs}} /> --}}
    </div>
    <div class="grid grid-2col">
      <button>Investigate</button>
      <button>Other Actions</button>
      <button>Insight Roll</button>
      <button>Failure</button>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="rules">Rules</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Rules Tab --}}
    <div class="tab rules" data-group="primary" data-tab="rules">
      <p><b>TRYING AGAIN: </b>You can reroll all the dice, if you include or included your Insight Die. For every reroll, check if you have to do an Insight roll. Reroll as many times as you want.</p>
      <p><b>COOPERATE: </b>Everyone rolls. Keep the highest die rolled by anyone.</p>
      <p><b>COMPETE: </b>Everyone who is competing rolls their dice. The highest die wins.</p>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      <p>NOTES</p>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>