@use "../utils/variables" as *;
@use "../utils/colors" as *;
@use "../utils/typography" as *;

@mixin forms {
	.window-content {
		padding: 0;
		background-color: $c-white;
		background-image: url("#{$asset-path}ui/actor/sheet-bg.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		overflow-y: auto;
		font-family: $font-primary;

		h2 {
			border-bottom: 1px solid $c-beige;
		}

		button,
		a {
			color: $c-black;
		}

		input {
			color: $c-black;

			&:focus {
				box-shadow: 0 0 6px $c-insight;
				outline: none;
			}

			&::placeholder {
				color: $c-beige;
			}
		}

		textarea {
			color: $c-black;
			padding: 5px;

			&:focus {
				box-shadow: 0 0 6px $c-insight;
				outline: none;
			}

			&::placeholder {
				color: $c-beige;
			}
		}

		a {
			i {
				color: $c-purple;
			}

			&:hover,
			&:focus {
				text-shadow: 0 0 10px $c-insight;
			}
		}

		.rollable {
			&:hover,
			&:focus {
				text-shadow: 0 0 10px $c-insight;
			}
		}
	}

	prose-mirror {
		min-height: 180px;

		.editor-content {
			padding: 0 0.5rem;
			background: $c-input-background-color;
			border: 1px solid $c-input-border-color;
			border-radius: 4px;
		}
	}

	.prosemirror menu,
	prose-mirror menu {
		padding: 0px;
		gap: 0px;
	}

	.npc-header {
		h2 {
			font-size: large;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}

	.cd-sheet-header {
		flex: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 8px 8px 0px 8px;

		button {
			color: $c-white;
			background-color: $c-faint;
			border: none;
			font-family: $font-tertiary;
			font-size: 13px;
			padding-top: 2px;
			padding-bottom: 2px;
			height: auto;
			overflow-x: hidden;

			i {
				color: $c-lt-purple;
			}

			&:hover,
			&:focus {
				box-shadow: 0 0 5px $c-lt-insight;
				text-shadow: 0 0 10px $c-lt-insight;
			}
		}

		.insight {
			font-size: 20px;
			margin: 0px 10px 0px 10px;
			display: flex;
			justify-content: space-around;
			align-items: center;

			input[type="checkbox"],
			input[type="radio"] {
				&::before {
					color: $c-insight;
				}

				&:not(:first-child:last-child):last-child::before {
					color: $c-pink;
				}

				&:checked {
					&::before {
						color: $c-white;
						margin-top: 2px;
					}
					&::after {
						color: $c-insight;
					}

					&:not(:first-child:last-child):last-child::before {
						color: $c-white;
						margin-top: 2px;
					}
					&:not(:first-child:last-child):last-child::after {
						color: $c-pink;
					}
				}
			}
		}

		.profile-img {
			height: 292px;
			margin-bottom: 10px;
			border: 1px solid $c-groove;
		}

		.header-fields {
			height: 30px;
			padding: 0px;
			margin-bottom: 10px;
			font-size: 20px;
			text-align: center;
			width: 100%;
		}

		.sub-header-fields {
			margin-bottom: 10px;
			width: 100%;
		}

		.charname {
			height: 40px;
			padding: 0px;
			margin: 0 0 10px 0;
			font-size: 30px;
			text-align: center;
			width: 100%;
		}

		textarea {
			min-height: 45px;
			resize: none;
		}
	}

	.tab {
		padding: 0px 8px;
	}

	nav.sheet-tabs {
		margin: 4px 0;
		border-top: none;
		border-bottom: 1px solid $c-groove;
	}

	a.active {
		text-shadow: none;
		color: $c-purple;
		border-bottom: 2px solid $c-purple;
	}

	.rules {
		b {
			color: $c-purple;
		}
	}

	.editor {
		color: $c-black;
	}
}
