.window-content {
  padding: 0;
  background: #070507;
  color: white;

  h2 {
    border-bottom: 1px solid #FFFFFF4D;
  }

  input {
    color: white;
    background-color: #0d020eCC;
    border: 1px solid #FFFFFF4D;

    &:focus {
      box-shadow: 0 0 6px #99d097;
      outline: none;
    }

    &::placeholder {
      color: rgb(175, 175, 175);
    }
  }

  textarea {
    color: white;
    background-color: #0d020eCC;
    border: 1px solid #FFFFFF4D;
    padding: 5px;

    &:focus {
      box-shadow: 0 0 6px #99d097;
      outline: none;
    }

    &::placeholder {
      color: rgb(175, 175, 175);
    }
  }

  a {

    i {
      color: #ddcddf;
    }

    &:hover, &:focus {
      text-shadow: 0 0 10px #99d097;
    }
  }

  .rollable {

    &:hover, &:focus {
      text-shadow: 0 0 10px #99d097;
    }
  }

  .editor {
    height: 190px;
  }
}

.npc {
  background-color: black;
  background-image: url(../assets/ui/actor/actor-sheet-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .editor {
    height: 180px;
  }
}

.character {
  background-color: black;
  background-image: url(../assets/ui/actor/actor-sheet-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  .editor {
    height: 190px;
  }
}

.item-form {
  font-family: $font-primary;
}

.cd-sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px 8px 0px 8px;
  
  button {
    color: white;
    background-color: #423543;
    border: none;

    i {
      color: #ddcddf;
    }

    &:hover, &:focus {
      box-shadow: 0 0 5px #99d097;
      text-shadow: 0 0 10px #99d097;
    }
  }

  .insight {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input[type="checkbox"] {

      &:checked {
        accent-color: #99d097;
      }
    }
  }

  .insight-die {
    color: #99d097;
  }

  .profile-img {
    height: 292px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF4D;
  }

  .header-fields {
    height: 30px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .sub-header-fields {
    height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
  }

  .charname {
    height: 40px;
    padding: 0px;
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  textarea {
    resize: none;
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab {
  color: white;
}

nav.sheet-tabs {
  margin: 4px 0;
  border-top: none;
  border-bottom: 1px solid #616161;
}

.tabs .item {
  color: #616161;

  &.active {
    text-shadow: none;
    color: white;
    border-bottom: 2px solid #DDC0DF;
  }
}

.sheet-body {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.30);

  .rules {
    b {
      color: #DDC0DF;
    }
  }

  .editor-content {
    background-color: #ffffff12;
  }
}

.editor {
  color: white;
}

.tox {
  .tox-editor-container {
    background: rgba(255, 255, 255, 0.785);
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
