# Based on the workflows of:
# https://github.com/League-of-Foundry-Developers/FoundryVTT-Module-Template and
# https://github.com/pwatson100/alienrpg
name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      #Substitute the Manifest and Download URLs in the module.json
      - name: Substitute Manifest and Download Links For Versioned Ones
        id: sub_release_manifest_version
        uses: microsoft/variable-substitution@v1
        with:
          files: "system.json"
        env:
          version: ${{github.event.release.tag_name}}
          url: https://github.com/${{github.repository}}
          manifest: https://github.com/${{github.repository}}/releases/latest/download/system.json
          download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/system.zip

      # create a zip file with all files required by the module to add to the release
      - run: zip -r ./system.zip system.json template.json README.md LICENSE.txt templates/ module/ lang/ css/

      # Create a release for this specific version
      - name: Update Release with Files
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true # set this to false if you want to prevent updating existing releases
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "./system.json, ./system.zip"
          tag: ${{ github.event.release.tag_name }}
          body: ${{ github.event.release.body }}

      # - name: Publish to Foundry VTT Repo
      #   id: publish_foundry_repo
      #   run: npx @ghost-fvtt/foundry-publish
      #   env:
      #     FVTT_MANIFEST_PATH: 'static/system.json'
      #     FVTT_PACKAGE_ID: ${{ 468 }}
      #     FVTT_USERNAME: ${{ secrets.FOUNDRY_ADMIN_USERNAME }}
      #     FVTT_PASSWORD: ${{ secrets.FOUNDRY_ADMIN_PASSWORD }}
